.u-block-6412-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-6412-3 {
  position: absolute;
  left: 0;
}

.u-block-6412-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/flatirons.JPG");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 756px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0 254px;
}

.u-section-1-1 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-1-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 11px auto 60px 507px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 195px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 146px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 0;
    margin-left: auto;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/540004-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 756px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 168px auto 0 0;
}

.u-section-1-2 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-1-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 39px auto 0 488px;
}

.u-section-1-2 .u-text-3 {
  font-size: 0.75rem;
  margin: 149px -82px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 288px;
  }

  .u-section-1-2 .u-text-3 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-1-2 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-right: 0;
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 493px;
}

.u-section-2 .u-text-1 {
  width: 680px;
  font-family: "Francois One";
  margin: 137px auto 0;
}

.u-section-2 .u-text-2 {
  width: 826px;
  margin: 19px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 243px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 1px 0 0;
}

.u-section-2 .u-image-1 {
  height: 116px;
  width: 298px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 1px 0 0;
}

.u-section-2 .u-image-2 {
  height: 116px;
  width: 298px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 1px 0 0;
}

.u-section-2 .u-image-3 {
  height: 116px;
  width: 298px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 1px 0 0;
}

.u-section-2 .u-image-4 {
  height: 116px;
  width: 298px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 1px 0 0;
}

.u-section-2 .u-image-5 {
  height: 116px;
  width: 298px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 1px 0 0;
}

.u-section-2 .u-image-6 {
  height: 116px;
  width: 298px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
    min-height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-image-1 {
    width: 225px;
  }

  .u-section-2 .u-image-2 {
    width: 225px;
  }

  .u-section-2 .u-image-3 {
    width: 225px;
  }

  .u-section-2 .u-image-4 {
    width: 225px;
  }

  .u-section-2 .u-image-5 {
    width: 225px;
  }

  .u-section-2 .u-image-6 {
    width: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    margin-top: 50px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    width: 298px;
  }

  .u-section-2 .u-image-3 {
    height: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    width: 298px;
  }

  .u-section-2 .u-image-6 {
    height: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 272px;
}

.u-section-3 .u-text-1 {
  font-family: "Francois One";
  margin: 21px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1042px;
  margin: 10px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 202px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 28px 0;
}

.u-section-3 .u-text-2 {
  margin: 0 -78px;
}

.u-section-3 .u-text-3 {
  margin: 17px 31px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 28px 0;
}

.u-section-3 .u-text-4 {
  margin: 0 -78px;
}

.u-section-3 .u-text-5 {
  margin: 17px 31px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 28px 0;
}

.u-section-3 .u-text-6 {
  margin: 0 -78px;
}

.u-section-3 .u-text-7 {
  margin: 17px 31px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 245px;
  }

  .u-section-3 .u-text-2 {
    width: 81px;
    margin-right: 141px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-3 {
    width: 216px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    width: 81px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    width: 216px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: 216px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-text-2 {
    margin-right: 205px;
    margin-left: 70px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 160px;
    margin-left: 25px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-3 .u-text-6 {
    width: 81px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    margin-left: 62px;
    margin-right: 62px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 542px;
}

.u-section-4 .u-text-1 {
  font-family: "Francois One";
  margin: 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 0 0 1px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 375px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 27px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  object-position: 46.62% 50%;
  margin: 0 3px;
}

.u-section-4 .u-text-2 {
  font-family: "Francois One";
  margin: 20px 0 0 3px;
}

.u-section-4 .u-text-3 {
  margin: 0 3px;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 27px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  margin: 0 3px;
}

.u-section-4 .u-text-4 {
  font-family: "Francois One";
  margin: 20px 0 0 3px;
}

.u-section-4 .u-text-5 {
  margin: 0 3px;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 27px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  object-position: 52.26% 50%;
  margin: 0 3px;
}

.u-section-4 .u-text-6 {
  font-family: "Francois One";
  margin: 20px 0 0 3px;
}

.u-section-4 .u-text-7 {
  margin: 0 3px;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 27px;
}

.u-section-4 .u-image-4 {
  height: 213px;
  margin: 0 3px;
}

.u-section-4 .u-text-8 {
  font-family: "Francois One";
  margin: 20px 0 0 3px;
}

.u-section-4 .u-text-9 {
  margin: 0 3px;
}

.u-section-4 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-4 .u-image-1 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 947px;
  }

  .u-section-4 .u-image-1 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 479px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 479px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 479px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 479px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-image-1 {
  width: 1140px;
  left: 0;
}.u-section-6 .u-sheet-1 {
  min-height: 21px;
}