.u-section-1 .u-sheet-1 {
  min-height: 90px;
}

.u-section-1 .u-text-1 {
  margin: 19px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 10px 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 81px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-map-1 {
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 4px 0 15px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 298px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1021px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 953px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 7px 20px 0;
}

.u-section-3 .u-text-2 {
  font-family: "Francois One";
  font-size: 1.5rem;
  width: 351px;
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  height: 213px;
  margin: 19px 10px 0;
}

.u-section-3 .u-text-3 {
  margin: 9px 0 0 20px;
}

.u-section-3 .u-container-layout-2 {
  padding: 7px 20px 0;
}

.u-section-3 .u-text-4 {
  font-family: "Francois One";
  font-size: 1.5rem;
  width: 351px;
  margin: 0 auto;
}

.u-section-3 .u-image-2 {
  height: 213px;
  margin: 19px 10px 0;
}

.u-section-3 .u-text-5 {
  margin: 9px 0 0 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 7px 20px 0;
}

.u-section-3 .u-text-6 {
  font-family: "Francois One";
  font-size: 1.5rem;
  width: 351px;
  margin: 0 auto;
}

.u-section-3 .u-image-3 {
  height: 213px;
  margin: 19px 10px 0;
}

.u-section-3 .u-text-7 {
  margin: 9px 0 0 20px;
}

.u-section-3 .u-container-layout-4 {
  padding: 7px 20px 0;
}

.u-section-3 .u-text-8 {
  font-family: "Francois One";
  font-size: 1.5rem;
  width: 351px;
  margin: 0 auto;
}

.u-section-3 .u-image-4 {
  height: 213px;
  margin: 19px 10px 0;
}

.u-section-3 .u-text-9 {
  margin: 9px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 786px;
  }

  .u-section-3 .u-image-1 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-top: 110px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 274px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 274px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-3 .u-image-3 {
    height: 274px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 274px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-top: 64px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1721px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 129px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-bottom: -9px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 129px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-bottom: -9px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 129px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-bottom: -9px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    height: 129px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-bottom: -9px;
  }
}