.u-section-1 .u-sheet-1 {
  min-height: 83px;
}

.u-section-1 .u-text-1 {
  width: 445px;
  margin: 31px auto 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin: 22px 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 70px;
}

.u-section-2 .u-text-1 {
  margin: 20px 66px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}