.u-section-1-1 {
  min-height: 586px;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 35px 0 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 585px;
  background-image: none;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 40px 30px 30px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Francois One";
  margin: 60px 0 0;
}

.u-section-1-1 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0 0;
}

.u-section-1-1 .u-image-1 {
  min-height: 585px;
  background-image: url("images/flatirons.JPG");
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 482px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 {
    min-height: 549px;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 369px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 {
    min-height: 872px;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 474px;
    order: 0;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 {
    min-height: 634px;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    margin-top: 61px;
    width: 340px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding: 30px 10px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 298px;
  }
}.u-section-1-2 .u-sheet-1 {
  min-height: 585px;
}

.u-section-1-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-1-2 .u-layout-cell-1 {
  min-height: 585px;
  background-image: none;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 30px 40px 30px 30px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Francois One";
  margin: 60px 46px 0 0;
}

.u-section-1-2 .u-text-2 {
  line-height: 2;
  margin: 20px 46px 0 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0 0;
}

.u-section-1-2 .u-image-1 {
  min-height: 585px;
  background-image: url("images/540004-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-1-2 .u-text-3 {
  font-size: 0.75rem;
  margin: 536px 0 0 567px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 482px;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 369px;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 322px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-1-2 .u-image-1 {
    order: 0;
    min-height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding: 30px 10px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 298px;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 122px;
  }
}.u-block-bbf7-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-bbf7-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -70px);
  width: 45px;
  height: 45px;
  right: auto;
}

.u-block-bbf7-4 {
  position: absolute;
  width: 45px;
  height: 45px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + -70px);
}

@media (max-width: 1199px) {
  .u-block-bbf7-3 {
    left: calc(((100% - 940px) / 2)  + -58px);
  }

  .u-block-bbf7-4 {
    right: calc(((100% - 940px) / 2)  + -58px);
  }
}

@media (max-width: 991px) {
  .u-block-bbf7-3 {
    left: calc(((100% - 720px) / 2)  + -44px);
  }

  .u-block-bbf7-4 {
    right: calc(((100% - 720px) / 2)  + -44px);
  }
}

@media (max-width: 767px) {
  .u-block-bbf7-3 {
    left: calc(((100% - 540px) / 2)  + -33px);
  }

  .u-block-bbf7-4 {
    right: calc(((100% - 540px) / 2)  + -33px);
  }
}

@media (max-width: 575px) {
  .u-block-bbf7-3 {
    left: calc(((100% - 340px) / 2)  + -21px);
  }

  .u-block-bbf7-4 {
    right: calc(((100% - 340px) / 2)  + -21px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 271px;
}

.u-section-2 .u-text-1 {
  width: 680px;
  font-family: "Francois One";
  margin: 19px auto 0;
}

.u-section-2 .u-text-2 {
  width: 826px;
  margin: 19px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 6px;
  margin-bottom: 6px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 156px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 84px;
  width: 216px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  height: 84px;
  width: 216px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  height: 84px;
  width: 216px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-image-4 {
  height: 84px;
  width: 216px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-image-5 {
  height: 84px;
  width: 216px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-image-1 {
    width: 225px;
  }

  .u-section-2 .u-image-2 {
    width: 225px;
  }

  .u-section-2 .u-image-3 {
    width: 225px;
  }

  .u-section-2 .u-image-4 {
    width: 225px;
  }

  .u-section-2 .u-image-5 {
    width: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    margin-top: 50px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    width: 216px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 250px;
}

.u-section-3 .u-text-1 {
  font-family: "Francois One";
  margin: 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 10px -17px 0 17px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 176px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 28px 0;
}

.u-section-3 .u-text-2 {
  margin: 0 -78px;
}

.u-section-3 .u-text-3 {
  margin: 17px 31px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 28px 0;
}

.u-section-3 .u-text-4 {
  margin: 0 -78px;
}

.u-section-3 .u-text-5 {
  margin: 17px 31px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 28px 0;
}

.u-section-3 .u-text-6 {
  margin: 0 -78px;
}

.u-section-3 .u-text-7 {
  margin: 17px 31px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 28px 0;
}

.u-section-3 .u-text-8 {
  margin: 0 -78px;
}

.u-section-3 .u-text-9 {
  margin: 17px 31px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 245px;
  }

  .u-section-3 .u-text-2 {
    width: 81px;
    margin-right: 141px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-3 {
    width: 216px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    width: 81px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    width: 216px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: 216px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: 216px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-3 .u-text-2 {
    margin-right: 205px;
    margin-left: 70px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 160px;
    margin-left: 25px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-text-2 {
    margin-right: 197px;
    margin-left: 62px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 62px;
    margin-right: 62px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 542px;
}

.u-section-4 .u-text-1 {
  font-family: "Francois One";
  margin: 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 0 0 1px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 27px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  object-position: 0% 50%;
  margin: 0 3px;
}

.u-section-4 .u-text-2 {
  font-family: "Francois One";
  margin: 20px 0 0 3px;
}

.u-section-4 .u-text-3 {
  margin: 0 3px;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 27px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  margin: 0 3px;
}

.u-section-4 .u-text-4 {
  font-family: "Francois One";
  margin: 20px 0 0 3px;
}

.u-section-4 .u-text-5 {
  margin: 0 3px;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 27px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  object-position: 52.26% 50%;
  margin: 0 3px;
}

.u-section-4 .u-text-6 {
  font-family: "Francois One";
  margin: 20px 0 0 3px;
}

.u-section-4 .u-text-7 {
  margin: 0 3px;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 27px;
}

.u-section-4 .u-image-4 {
  height: 213px;
  margin: 0 3px;
}

.u-section-4 .u-text-8 {
  font-family: "Francois One";
  margin: 20px 0 0 3px;
}

.u-section-4 .u-text-9 {
  margin: 0 3px;
}

.u-section-4 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-4 .u-image-1 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 947px;
  }

  .u-section-4 .u-image-1 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 479px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 479px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 479px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 479px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }
}